<h6 style="color:red">Submit your sou.. rhg, cocktail</h6>

<div class="container">
  <div class="new-cocktail-form">
    <%= form_for(@cocktail) do |f| %>
      <div class="form-camp name-camp">
      <%= f.label :name %>
      </div>
      <div class="form-camp">
      <%= f.text_field :name %>
      </div>
      <div class="form-camp picture-camp">
      <%= f.label :picture %>
      </div>
      <div class="form-camp">
      <%=f.input :picture_url, as: :file%>
      </div>
      <div class="form-camp">
      <%= f.submit "Create cocktail", class: "btn btn-danger btnred" %>
    <% end %>
      </div>
  </div>
</div>
